.container{
  max-width: 1024px;
  margin: 0 auto;
}
.concepts{
  margin-bottom: 2rem;
  background-color: #282c34;
}
.header{
  padding: 2rem 2rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-color: #2d3646;
}
.header span{
  color: #ccc459;
}
.main-section{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  background: transparent;
  border-color: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 2rem 6rem;
  cursor: pointer;
}
button:disabled {
  background-color: #cccccc; 
  color: #666666; 
  border: 1px solid #aaaaaa;
  cursor: not-allowed; 
  opacity: 0.6; 
}
