.container{
  max-width: 1024px;
  margin: 0 auto;
  background-color: #282c34;
}
.header{
  padding: 2rem 2rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-color: #2d3646;
}
.main-section{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  background: transparent;
  border-color: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 2rem 6rem;
}


